<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Passport Authentication</title>
    <% include ./partials/head %>
</head>
<body>
  <header>
    <% include ./partials/header %>
    <link rel="stylesheet" href="/css/style.css">
  </header>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Passport Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
<footer>
  <% include ./partials/footer %>
</footer>
</div>
</body>
</html>
